---
- name: copy tls files
  copy: 
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: apache
    group: apache 
  with_items:
  - src: cert.crt
    dest: /etc/pki/tls/certs/server.crt
  - src: key.key
    dest: /etc/pki/tls/private/server.key
  - src: ca.crt 
    dest: /etc/pki/tls/certs/cacert.crt
  notify: restart apache 

- name: copy new virtual host files 
  template:
    src: "{{ item.src }}"
    dest: /etc/httpd/conf.d/{{item.dest}}.{{ hostname }}.conf
    owner: apache
    group: apache
    mode: '0644'
  with_items:
  - src: virtualhostword.j2
    dest: wordpress
  - src: virtualhosthttp.j2
    dest: http
  - src: virtualhostproxy.j2
    dest: proxy
  notify: restart apache 
  
- name: install mod_ssl and cyrus-sasl-plain
  dnf:
    name: ['mod_ssl', 'cyrus-sasl-plain']
    state: installed
  notify: restart apache 

- name: add https rule to firewalld 
  firewalld:
    service: https
    permanent: yes
    state: enabled
  notify: restart firewalld 

- name: make sure parameters are valid 
  template:
    src: main.cf.j2
    dest: /etc/postfix/main.cf
  notify: restart postfix

- name: add 465 and 993 to firewalld 
  firewalld:
    permanent: yes
    state: enabled
    port: "{{ item }}/tcp"
  with_items: 
  - 465
  - 993
  notify: restart firewalld 

- name: copy master.cf 
  copy:
    src: master.cf
    dest: /etc/postfix/master.cf
  notify: restart postfix  

- name: update 10-ssl.conf
  copy:
    src: 10-ssl.conf 
    dest: /etc/dovecot/conf.d/10-ssl.conf
  notify: restart dovecot
