;
; BIND data file for local zone {{ hostname }}.{{ domain_name }};
$TTL    15M
@       IN      SOA     ns1.{{ hostname }}.{{ domain_name }}. root.{{ hostname }}.{{ domain_name }}. (
                     2012020201         ; Serial
                            15M         ; Refresh
                             5M         ; Retry
                           120M         ; Expire
                            600 )       ; Negative Cache TTL
@              IN      NS      ns1
@              IN      A       {{ cloud_metadata.content }}
ns1             IN      A       {{ cloud_metadata.content }}
{{ hostname }}   IN      A     {{ cloud_metadata.content }}
