---
- name: install nfs-utils and samba
  dnf:
    name: ['nfs-utils', 'samba', 'samba-common', 'samba-client', 'cifs-utils']
    state: latest
  notify: restart nfs-server

- name: create 2 logical partitions
  community.general.parted: 
    device: /dev/sdb
    number: '{{ item.number }}'
    state: present
    part_type: "{{ item.part_type }}"
    part_start: '{{ item.start }}'
    part_end: '{{ item.end }}'
  with_items: 
  - number: 1
    part_type: extended
    start: 2048s
    end: 2097151s
  - number: 5
    part_type: logical 
    start: 4096s
    end: 1048574s
  - number: 6
    part_type: logical
    start: 1050624s
    end: 2097151s
  
- name: create ext4 and xfs filesystems
  community.general.filesystem:
    fstype: "{{ item.fstype }}"
    state: present
    dev: "{{ item.dev }}"
    opts: "{{ item.opts }}"
  with_items:
  - dev: /dev/sdb5
    fstype: ext4
    opts: -L "lab7FSext4"
  - dev: /dev/sdb6
    fstype: xfs
    opts: -L "lab7FSxfs"

- name: create 5 directories
  file: 
    path: "{{ item.path }}"
    state: directory
  with_items:
  - path: /lab7/fs-ext4
  - path: /lab7/fs-xfs
  - path: /shares/nfs
  - path: /mnt/nfs
  - path: /shares/samba

- name: add line to /etc/exports
  lineinfile:
    path: /etc/exports
    line: "/shares/nfs localhost"
    state: present
  notify: exportfs -a 

- name: flush handlers
  meta: flush_handlers

- name: mount filesystems
  ansible.posix.mount:
    src: "{{ item.src }}"
    path: "{{ item.path }}"
    fstype: "{{ item.fstype }}"
    state: mounted
  with_items:
  - src: /dev/sdb5
    path: /lab7/fs-ext4
    fstype: ext4
  - src: /dev/sdb6
    path: /lab7/fs-xfs
    fstype: xfs
  - path: /mnt/nfs
    src: "{{ hostname }}.{{ domain_name }}:/shares/nfs"
    fstype: nfs

- name: add 111 and 2049 to firewalld 
  firewalld:
    permanent: yes
    state: enabled
    port: "{{ item }}/tcp"
  with_items: 
  - 111
  - 139
  - 445
  - 2049
  notify: restart firewalld 

- name: Ensure group "samba_group" exists
  ansible.builtin.group:
    name: samba_group
    state: present

- name: add scoring and centos user to the group
  user: 
    name: "{{ item }}"
    groups: samba_group
    append: yes
  with_items: 
  - scoring
  - centos

- name: add scoring and centos user to smb 
  shell: printf "{{ item.pass }}\n{{ item.pass }}" | smbpasswd -a -s {{ item.user }}
  register: output
  changed_when: '"Added user" in output.stdout' 
  with_items:
  - user: centos
    pass: smb_pass.centos
  - user: scoring
    pass: smb_pass.scoring

- name: change /shares/samba permissions
  file:
    path: /shares/samba
    state: directory
    mode: 755
    owner: root
    group: samba_group
    recurse: yes

- name: sefcontext samba_share_t
  sefcontext:
    target: '/shares/samba'
    setype: samba_share_t
    state: present
    
- name: add smb block to /etc/samba/smb.conf
  copy:
    dest: /etc/samba/smb.conf
    src: smb.conf 
  notify: 
  - restart smb

- name: put password
  shell: /usr/local/bin/consul kv put object/c18235 "{{ kv_pass }}"

- name: download minio client 
  get_url:
    url: https://dl.min.io/client/mc/release/linux-amd64/mc
    dest: /usr/bin/mc
    owner: root
    mode: 'u+rwx'

- name: add config to host 
  shell: mc config host add scoring https://scoring.sa.cs.ut.ee:9000 {{ hostname }} {{ kv_pass }}

- name: create bucket 
  shell: mc mb scoring/{{ hostname }}
  register: output 
  changed_when: '"Bucket created successfully" in output.stdout'
  ignore_errors: true

- name: create scoringtestfile
  lineinfile:
    path: /tmp/scoringtestfile
    line: "{{ hostname }}"
    state: present
    create: yes

- name: add file 
  shell: mc cp /tmp/scoringtestfile scoring/{{ hostname }}/scoringtestfile

