---
- name: restart nfs-server
  service:
    name: nfs-server
    state: restarted
    enabled: yes

- name: restart firewalld
  service:
    name: firewalld
    state: restarted
    enabled: yes

- name: restart smb
  service:
    name: smb
    state: restarted
    enabled: yes

- name: exportfs -a 
  command: exportfs -a
