    <VirtualHost *:80>
        ServerName proxy.{{ hostname }}.{{ domain_name }} 
        # ServerName sets the name to listen for with requests
        ErrorLog /var/log/httpd/proxy-error_log
        CustomLog /var/log/httpd/proxy-access_log common

        ProxyPreserveHost On

        ProxyPass / http://localhost:5000/
        ProxyPassReverse / http://localhost:5000/
    </VirtualHost>